{% extends 'base.html' %}
{% block content %}

    <div class="container register-form">
        <form method="POST" class="form-login">
        {% csrf_token %}
                {% comment %} {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %} {% endcomment %}
      <lable> Username</lable> <input type="text" name="email" required><br />
       <lable> password</lable><input type="password" name="password" required><br />
        <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Login</button>
        </form>
       <span class="dont-account"> Don't have an account? <a href="/register" target="blank"><strong>register here</strong></a>!</span>
    </div>
{% endblock %}
