{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="omnisearch" class="omnisearch">
        <div class="container">
            <!-- Search form -->
            <form class="omnisearch-form">
                <div class="form-group">
                    <div class="input-group input-group-merge input-group-flush">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Type and hit enter ...">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <main>
        <section class="my-cart-section mt-5 pt-5">
            <div class="container">
                <!-- Shopping cart table -->
                <div class="row">
                    <div class="pr-title mb-4">
                        <h3 class="mt-4 store-title t-secondary">Checkout</h3>
                        <div class="payment-step">
                            <a href="my-cart.html" class="btn btn-mycart">1 - My Cart</a>
                            <a href="my-checkout.html" class="btn btn-mycart active">2 - Customer</a>
                            <a href="my-payment.html" class="btn btn-mycart">3 - Payment</a>
                        </div>
                    </div>
                </div>
                <div class="row row-grid">
                    <div class="col-xl-8 col-lg-7">
                        <form>
                            <!-- General -->
                            <div class="actions-toolbar py-2 mb-4">
                                <h5 class="mb-1 poppins t-secondary">Billing information</h5>
                                <p class="text-sm  poppins t-gray mb-0">Fill the form below so we can send you
                                    the order's invoice.</p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">First name</label>
                                        <input class="form-control input-primary" type="text" placeholder="Enter Your first name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Last name</label>
                                        <input class="form-control" type="text" placeholder="Enter Your Last Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Phone</label>
                                        <input class="form-control" type="text" placeholder="48 695-456-504">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Email</label>
                                        <input class="form-control" type="text"
                                            placeholder="Enter Your Last Email Address">
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label">Address</label>
                                        <input class="form-control" type="text" placeholder="Billing Address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Country</label>
                                        <input class="form-control" type="text" placeholder="Billing Country">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">City</label>
                                        <input class="form-control" type="text" placeholder="Billing City">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Postal code</label>
                                        <input class="form-control" type="text" placeholder="Billing Postal Code">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Location</label>
                                        <select class="form-control" data-toggle="select" title="City">
                                            <option selected disabled>Select Location</option>
                                            <option value="1">Bucharest</option>
                                            <option value="2">Bacau</option>
                                            <option value="3">Cluj Napoca</option>
                                            <option value="4">Piatra Neamt</option>
                                            <option value="5">Sibiu</option>
                                            <option value="6">Timisoara</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="actions-toolbar py-2 mb-4 shop-title">
                                <div class="left-cart">
                                    <h5 class="mb-1 poppins t-gray">Shipping informations</h5>
                                    <p class="text-sm poppins t-secondary mb-0">Fill the form below so we can send
                                        you the orders invoice.</p>
                                </div>
                                <a href="#"
                                    class="btn btn-sm btn-primary rounded-pill btn-icon  hover-translate-y-n3">
                                    <span class="btn-inner--text">Copy Address</span>
                                </a>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label">Address</label>
                                        <input class="form-control" type="text" placeholder="Shipping address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Country</label>
                                        <input class="form-control" type="text" placeholder="Shipping Country">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">City</label>
                                        <input class="form-control" type="text" placeholder="Shipping City">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Postal code</label>
                                        <input class="form-control" type="text" placeholder="Shipping Postal Code">
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 text-right">
                                <a href="shop-landing.html" class="btn btn-link text-black text-uppercase text-sm text-dark font-weight-bold">Return
                                    to shop</a>
                                <a href="#"
                                    class="btn btn-sm btn-primary rounded-pill btn-icon p-button hover-translate-y-n3">
                                    <span class="btn-prodcut-add mr-2">Next step</span>
                                    <span class="btn-inner--icon">
                                        <svg class="w-auto" height="21" viewBox="0 0 16 21" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M4 8.5C4 9.05229 4.44772 9.5 5 9.5C5.55228 9.5 6 9.05229 6 8.5V6.5H10V8.5C10 9.05229 10.4477 9.5 11 9.5C11.5523 9.5 12 9.05229 12 8.5V6.5H14V15.5C14 17.1569 12.6569 18.5 11 18.5H5C3.34315 18.5 2 17.1569 2 15.5V6.5H4V8.5ZM6 4.5H10C10 3.39543 9.10457 2.5 8 2.5C6.89543 2.5 6 3.39543 6 4.5ZM12 4.5C12 2.29086 10.2091 0.5 8 0.5C5.79086 0.5 4 2.29086 4 4.5L1 4.5C0.447715 4.5 0 4.94772 0 5.5V15.5C0 18.2614 2.23858 20.5 5 20.5H11C13.7614 20.5 16 18.2614 16 15.5V5.5C16 4.94772 15.5523 4.5 15 4.5H12Z"
                                                fill="white"></path>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div data-toggle="sticky" data-sticky-offset="30">
                            <div class="card" id="card-summary">
                                <div class="card-header b-0 py-3">
                                    <div class="row align-items-center">
                                        <h3 class="ml-3 playfair text-primary store-title-medium t-secondary">Summary
                                        </h3>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9">
                                            <div class="media align-items-center">
                                                <img alt="Image placeholder" class="mr-2"
                                                    src="{% static 'img/jacket-small.png' %}" style="width: 42px;">
                                                <div class="media-body">
                                                    <div class="sum-title lh-100">
                                                        <p class="mb-0 text-white t-title">Home Controller
                                                            Google Alexa</p>
                                                    </div>
                                                    <small class="text-muted s-dim text-white">1 x $129.00 + $6.45 (SGST
                                                        5%)
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3 text-right lh-100">
                                            <small class="text-white">Price</small>
                                            <p class="text-primary s-rate ">$12.90</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2 pt-2 delimiter-top">
                                        <div class="col-9">
                                            <div class="media align-items-center">
                                                <img alt="Image placeholder" class="mr-2"
                                                    src="{% static 'img/jacket-small.png' %}" style="width: 42px;">
                                                <div class="media-body">
                                                    <div class="sum-title lh-100">
                                                        <p class="mb-0 text-white t-title">Home Controller
                                                            Google Alexa</p>
                                                    </div>
                                                    <small class="text-muted s-dim text-white">1 x $129.00 + $6.45 (SGST
                                                        5%)
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3 text-right lh-100">
                                            <small class="text-white">Price</small>
                                            <p class="text-primary s-rate ">$12.90</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2 pt-2 delimiter-top">
                                        <div class="col-9">
                                            <div class="media align-items-center">
                                                <img alt="Image placeholder" class="mr-2"
                                                    src="{% static 'img/jacket-small.png' %}" style="width: 42px;">
                                                <div class="media-body">
                                                    <div class="sum-title lh-100">
                                                        <p class="mb-0 text-white t-title">Home Controller
                                                            Google Alexa</p>
                                                    </div>
                                                    <small class="text-muted s-dim text-white">1 x $129.00 + $6.45 (SGST
                                                        5%)
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3 text-right lh-100">
                                            <small class="text-white">Price</small>
                                            <p class="text-primary s-rate ">$12.90</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body cart-subtotal">
                                    <!-- Subtotal -->
                                    <div class="row mt-2 pt-2">
                                        <div class="col-7 text-right">
                                            <small class="font-weight-bold">Subtotal (Before Tax):</small>
                                        </div>
                                        <div class="col-5 text-right">
                                            <span class="text-sm font-weight-bold t-black">$12.90</span>
                                        </div>
                                    </div>
                                    <!-- Shipping -->
                                    <div class="row mt-2 pt-2 border-top">
                                        <div class="col-7 text-right">
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    <div class="text-limit lh-100">
                                                        <small class="font-weight-bold mb-0">SGST</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5 text-right">
                                            <span class="text-sm font-weight-bold t-black">$6.85</span>
                                        </div>
                                    </div>
                                    <!-- Subtotal -->
                                    <div class="row mt-2 pt-2 border-top">
                                        <div class="col-7 text-right">
                                            <small class="text-uppercase font-weight-bold ">Total:</small>
                                        </div>
                                        <div class="col-5 text-right">
                                            <span class="text-sm font-weight-bold t-black s-p-total">$12.90</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}