{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="featured-section pb-0">
        <div class="container">
            <div class="row">
                <div class="pr-title">
                    <h3 class="mt-4 mb-4 store-title-medium t-gray">Our products</h3>
                </div>
            </div>
            <div class="row">
                <ul>
                {% for product in products %}
                    <li class="product-box">
                        <div class="card card-product">
                            <div class="card-image">
                                <a href="#">
                                    <img alt="Image placeholder" src="{{product.image.url}}"
                                        class="img-center img-fluid">
                                </a>
                                <div class="search-icon">
                                    <a  href="#">
                                        <img alt="Image placeholder" src="{% static 'img/ellipse.png' %}">
                                    </a>
                                    </div>
                            </div>
                            <div class="card-body pt-0">
                                <h6><a class="t-black13" href="#">{{product.name}}</a> <p class="card-price t-black15">{{product.price}}</p></h6>
                                <p class="text-sm">
                                    Category:<span class="t-black"> {{product.category}}</span>
                                </p>
                                
                                <div class="product-price mt-3">
                                    <a href="#"
                                        class="btn btn-sm btn-primary rounded-pill btn-icon  hover-translate-y-n3">
                                        <span class="btn-inner--text">Start shopping</span>

                                        <span class="btn-inner--icon">
                                            <svg class="w-auto" height="21" viewBox="0 0 16 21" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M4 8.5C4 9.05229 4.44772 9.5 5 9.5C5.55228 9.5 6 9.05229 6 8.5V6.5H10V8.5C10 9.05229 10.4477 9.5 11 9.5C11.5523 9.5 12 9.05229 12 8.5V6.5H14V15.5C14 17.1569 12.6569 18.5 11 18.5H5C3.34315 18.5 2 17.1569 2 15.5V6.5H4V8.5ZM6 4.5H10C10 3.39543 9.10457 2.5 8 2.5C6.89543 2.5 6 3.39543 6 4.5ZM12 4.5C12 2.29086 10.2091 0.5 8 0.5C5.79086 0.5 4 2.29086 4 4.5L1 4.5C0.447715 4.5 0 4.94772 0 5.5V15.5C0 18.2614 2.23858 20.5 5 20.5H11C13.7614 20.5 16 18.2614 16 15.5V5.5C16 4.94772 15.5523 4.5 15 4.5H12Z"
                                                    fill="white"></path>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </li>
                {% endfor %}
                 </ul>
            </div>
        </div>
    </section>

{% endblock %}