{% extends 'base.html' %}
{% block content %}
    <div class="container account_form">
        <div class="row">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="field">
                        <label for="username">Username</label>
                        <input type="text" value="{{user.username}}" name="username">
                    </div>
                    <div class="field">
                        <label for="email">Email</label>
                        <input type="text" value="{{user.email}}" name="email">
                    </div>
                    <div class="field">
                        <label for="bio">bio</label>
                        <input type="text" value="{{profile.bio}}" name="bio">
                    </div>
                    <div class="field">
                        <label for="state">state</label>
                        <input type="text" value="{{profile.state}}" name="state">
                    </div>
                    <div class="field">
                        <label for="city">city</label>
                        <input type="text" value="{{profile.city}}" name="city">
                    </div>
                    <div class="field">
                        <label for="birth">birth_date</label>
                        <input type="date" value="{{profile.birth_date}}" name="birth_date" required />
                    </div>
                    <div class="field">
                        <label for="Mobile" >Mobile</label>
                        <input type="number" value="{{profile.mobile}}" name="number">
                    </div>
                    <div class="field">
                        <label for="profile">profile_image</label>
                        <input type="file" name="profile_image" >{{profile.profile_image}}
                    </div>
                        <input type="submit" name="submit" value="submit"></input>
                </form>

        </div>
    </div>
{% endblock %}
